/* Theme Colors - Start */
:root {
    --background-color: linear-gradient(#13222F 0%, #10151D 30%);
    --text-color: #d9dfe7;
    --accent-color: #4D34FA;
    --primary-color: #0e141c;
    --secondary-color: rgb(217, 217, 217, 0.05);
}

body.lightMode {
    --background-color: linear-gradient(#acd6fa 0%, #eeeeee 30%);
    --text-color: #333333;
    --accent-color: #4D34FA;
    --primary-color: #ffffff;
    --secondary-color: rgba(82, 82, 82, 0.25);


}

/* Theme Colors - End */

/* CSS Reset - Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* CSS Reset - End */

/* Global Styles - Start */

body {
    background: var(--background-color);
    color: var(--text-color);
}

.background-img {
    background-image: url(/resources/background-dots.svg);
    filter: contrast(100%);
    background-position: 50%;
    background-size: 180px;
}

main {
    min-height: 95vh;
}

.btn {
    padding: 7px 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 15px;
    text-align: start;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}

.profile-img,
.intro,
.call-to-action,
.featured,
.social-links,
.projects,
.quick-links {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    border: 1.5px solid #242f41;
    border-radius: 25px;
}

.profile-img {
    grid-column: span 2;
    padding: 0 !important;
}

.intro {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.call-to-action .btn {
    text-align: center;
    width: 100%;
}

.call-to-action .btn-accent {
    background-color: var(--accent-color);
    font-weight: 500;
}

.featured {
    grid-column: span 5;
}

.social-links {
    grid-column: span 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projects {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links {
    grid-column: span 6;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-item {
    display: flex;
    flex-direction: column;
}

footer {
    grid-column: span 12;
    text-align: center;
    padding: 10px 0;
}

/* Add responsive behavior */
/* ---------Tablet Mode */
/* @media (max-width: 768px) */
@media (max-width: 768px) {
    .profile-img {
        grid-column: span 3;
    }

    .call-to-action {
        grid-column: span 5;
    }

    .intro {
        grid-column: span 9;
    }

    .featured {
        grid-column: span 7;
        grid-row: 2;
    }

    .social-links {
        grid-column: span 2;
    }

    .quick-links {
        grid-column: span 10;
    }

    .projects {
        grid-column: span 12;
    }
}

/* ---------Mobile Mode */
@media (max-width: 580px) {

    .profile-img,
    .call-to-action {
        grid-column: span 6;
        grid-row: 1;
    }

    .intro {
        grid-column: span 12;
        grid-row: 2;
    }

    .featured {
        grid-column: span 12;
        grid-row: 3;
    }

    .social-links {
        grid-column: span 12;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .quick-links,
    .projects {
        grid-column: span 12;
    }
}

/* Global Styles - End */

/* Quick Links Styles - Start */
.quick-links .link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

/* Quick Links Styles - End */

/* Projects Styles - Start */
.projects .link-item {
    padding: 20px;
}

.projects .project-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Projects Styles - End */

/* Social Links Styles - Start */
.social-links .link-item {
    font-size: 24px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Social Links Styles - End */

/* theme-mode styles - Start */




.theme-switcher {
    width: 100%;
}

.checkbox {
    display: none;
}

.dark, .light{
background-color: transparent;
text-align: center;
width: 50%;
padding: 7px 0;
}

label {
    width: 100%;
    position: relative;
    display: block;
    border-radius: 25px;
    display: flex;
    border: 2px solid #242f41;
    text-align: center;
}

label:after {
    content: "";
    height: 24px;
    width: 50%;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 25px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
}

.checkbox:checked+label:after {
    content: "";
    left: 50%;
}

/* theme-mode styles - End */
