/* CSS Reset - Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* CSS Reset - End */

/* Theme Variables - Start */
:root {
    --background-color: linear-gradient(rgb(19, 34, 47) 0%, rgb(16, 21, 29) 30%);
    --primary-color: rgb(14, 20, 28);
    --secondary-color: rgb(217, 217, 217, 0.05);
    --border-color: rgb(36, 47, 65);
    --accent-color: rgb(77, 52, 250);
    --text-color: rgb(178, 178, 178);
    --bg-image: url(https://anshupatel.in/bio/resources/bg-dark-dots.svg);
    --font-size: 1rem;
}

body.lightMode {
    --background-color: linear-gradient(rgb(77, 52, 250, 0.05) 0%, #ffffff 80%);
    --primary-color: rgb(235, 232, 255);
    --secondary-color: rgb(77, 52, 250, 0.2);
    --border-color: rgb(77, 52, 250, 0.3);
    --accent-color: rgb(77, 52, 250);
    --text-color: #2c2c2c;
    --bg-image: url(https://anshupatel.in/bio/resources/bg-light-dots.svg);
}

/* Theme Variables - End */

/* Theme Modes styles - Start */
.theme-toggle {
    width: 100%;
}

.checkbox {
    display: none;
}

.dark,
.light {
    background-color: transparent;
    text-align: center;
    width: 50%;
    padding: 7px 0;
}

.theme-toggle label {
    width: 100%;
    position: relative;
    display: block;
    border-radius: 25px;
    display: flex;
    border: 2px solid var(--border-color);
    text-align: center;
    cursor: pointer;
}

.theme-toggle label:after {
    content: "";
    height: 24px;
    width: 50%;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 25px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
}

.theme-toggle .checkbox:checked+label:after {
    content: "";
    left: 50%;
}

/* Theme Modes styles - End */

/* Global Styles - Start */

body {
    background: var(--background-color);
    color: var(--text-color);
}

.background-img {
    background: var(--bg-image);
    filter: contrast(100%);
    background-position: 50%;
    background-size: 100px;
}

main {
    min-height: 95vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 50px 20px;
}

h1 {
    font-size: calc(var(--font-size)*3);
    font-weight: 700;
    line-height: 1.2;
}

code {
    padding: 3px 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 10px;
    text-align: start;
    font-size: calc(var(--font-size)*0.9);
}

.btn {
    padding: 7px 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 15px;
    text-align: start;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--accent-color);
    transition: linear 0.3s;
    transform: scale(1.02);
}

.lightMode .btn:hover code {
    background-color: var(--primary-color);
}

.lightMode .btn:hover {
    color: var(--primary-color);
}

#greet {
    font-size: calc(var(--font-size)*1.7);
}

.profile-img,
.intro,
.call-to-action,
.featured,
.social-links,
.projects,
.quick-links {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    border: 1.5px solid var(--border-color);
    border-radius: 25px;
}

.profile-img {
    grid-column: span 2;
    padding: 0 !important;
    min-width: 150px;
    height: 100%;
    object-fit: cover;
}

.intro {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 150px;
}

.call-to-action .btn {
    text-align: center;
    width: 100%;
}

.call-to-action .btn-accent {
    background-color: var(--accent-color);
    font-weight: 700;
}

.lightMode .call-to-action .btn-accent {
    color: #ffffff;
}

.featured {
    grid-column: span 5;
}

.social-links {
    grid-column: span 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projects {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links {
    grid-column: span 6;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-item {
    display: flex;
    flex-direction: column;
}

footer {
    grid-column: span 12;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Behavior - Start*/
/* ---------Tablet Mode */
@media (max-width: 768px) {
    .profile-img {
        grid-column: span 3;
    }

    .call-to-action {
        grid-column: span 5;
    }

    .intro {
        grid-column: span 9;
    }

    .featured {
        grid-column: span 7;
        grid-row: 2;
    }

    .social-links {
        grid-column: span 2;
    }

    .quick-links {
        grid-column: span 10;
    }

    .projects {
        grid-column: span 12;
    }
}

/* ---------Mobile Mode */
@media (max-width: 580px) {

    .profile-img,
    .call-to-action {
        grid-column: span 6;
        grid-row: 1;
    }

    .intro {
        grid-column: span 12;
        grid-row: 2;
    }

    .featured {
        grid-column: span 12;
        grid-row: 3;
    }

    .social-links {
        grid-column: span 12;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .quick-links,
    .projects {
        grid-column: span 12;
    }
}

/* Responsive Behavior - End*/

/* Global Styles - End */

/* Social Links Styles - Start */
.social-links .link-item {
    font-size: calc(var(--font-size)*1.5);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Social Links Styles - End */

/* Quick Links Styles - Start */
.quick-links .link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

/* Quick Links Styles - End */

/* Projects Styles - Start */
.projects .link-item {
    padding: 20px;
}

.projects .project-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.projects .project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects .project-content .tech-stack {
    line-height: 1.8;
}

/* Projects Styles - End */